*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;

}
.nn{
    text-decoration: none;
    color: black;
    opacity: 0.6;
    font-size: 18px;
    font-weight: bold;

}
.navbarcomponent{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.nnbutton{
    border: none;
    padding: 15px 20px;
    color: white;
    background-color: black;
    font-size: 15px;
    border-radius: 5px;
}

.herosection{
    margin: auto;
    width: 50%;
    /* padding: 10px; */
    gap:10px
}
.heroh{
    margin-top: 10px;
    align-items: center;
    font-size: 50px;
    font-weight: bolder;
}
.nnnbutton{
    padding: 15px 20px;
    background-color: transparent;
    border-radius: 5px;
    font-size: 15px;
}
.herop{
    margin-top: 5px;
    opacity: 0.7;
}
.buttonsection{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.ssimage11{
    width: 50%;
    margin: auto;
    align-self: center;
    margin-top: 20px;
}
.ssimage11 img{
    height: 300px;
    
}

.midsection1{
    display: flex;
    font-size: 50px;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.midsection2{
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    opacity: 0.6;
    padding-right:50px;
}

.topsech{
    text-align: center;
    font-size: large;
    margin-top: 60px;
}
.topsecbh{
    text-align: center;
}
.thirdsection1{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 100px;
    position: relative;
}
.thirdsection2{
    position: absolute;
    right: -70px;
    top: -20px; 
    margin-left: 30px;

}

.fourthsection{
    margin-top: 290px;
}

.fourthsection1 {
 margin: auto;
 width: 40%;
 margin-left: 300px;
 display: flex;
 flex-direction: column;
 gap: 5px;
 position: absolute;
}
.fourthsection2{
    position: relative;
    margin-left: 1000px;
}
.fifthsection{
    margin: auto;
    width: 80%;
    margin-top: 50px;
}

.fifthsection img{
    height: 400px;
    width: 1000px;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.wrapper{
    width: 100vw;
    min-height: 100vh;
}
.review-section{
    width: 100%;
    background-color: rgb(245, 245, 245);
    padding: 30px;
}
.heading-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    color: black;
    font-size: 35px;
}
.text-para{
    width: 420px;
    text-align: center;
    font-size: 14px;
    color: rgb(102, 102, 102);
}
.review-container{
    display: flex;
    /* gap: 30px; */
    justify-content: space-evenly;
    align-items: center;
}
.left{
    transform: rotate(180deg);
}
.card{
    margin-top: 50px;
    width: 450px;
    background-color: #fff;
    padding: 30px;
}
.heading-card{
    font-size: 20px;
    text-align: center;
}
.sub-text{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    color: rgb(102, 102, 102);
}
.btn{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid rgb(219, 219, 219);
    background-color: #fff;
    text-align: center;
    user-select: none;
    cursor: pointer;
    font-weight: bolder;
}
.user-Name{
    font-size: 16px;
    font-weight: 600;
}

.footer-section{
    background: #000;
    
}
.footer-heading{
    margin: auto;
    color: #fff;
    text-align: center;
    width: 80%;
}
.footer-sub-text{
    text-align: center;
    width: 60%;
    margin: auto;
}
.btn-section{
    display: flex;
    justify-content: center;
}
.btn-section .btn{
    width: 100px;
    border-radius: 5px;
    height: 100%;
    background-color: transparent;
    margin: 10px;
    padding: 3px;
    color: white;
}
.btn-section .active{
    background-color: white;
    color: black;
}
.footer-links{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.heading-link{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #fff;
    
}
.link{
    color: #fff;
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}
.copy-right{
    color: #fff;
    padding: 10px;
    padding-left: 40px;
    font-size: 12px;
}